<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Room</title>
</head>

<body>
    <p>This is the chat room page: {{ room_name }}</P>

    <div id="tester-div"></div>

    <textarea id="chat-text" cols=80 rows-30 placeholder="" disabled></textarea></br>
    <input id="message-input" type="text" size="80" /></br>
    <input id="send-message-btn" type="button" value="Send" /></br>

    {{ room_name|json_script:"room-name" }}
    <script>
        const roomName = JSON.parse(document.getElementById('room-name').textContent);

        const chatSocket = new WebSocket(
            'ws://' +
            window.location.host +
            '/ws/chat/' +
            roomName +
            '/'
        );

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            console.log(data);
            document.querySelector('#tester-div').innerHTML = data.tester;
            document.querySelector("#chat-text").value += data.chatMessage + "\n";
        };

        document.querySelector("#send-message-btn").onclick = function (e) {
            const messageInputDom = document.querySelector('#message-input');
            const message = messageInputDom.value;

            console.log("Sending: " + message)

            chatSocket.send(JSON.stringify({
                'chatMessage': message,
            }));
            messageInputDom.value = '';
        };
    </script>
</body>
</html>