<!doctype html>

{% load static %}

<html lang="en">
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
        
        <meta charset="utf-8">
        <title>ChannelChat</title>
    </head>

    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark p-3">
            <a class="navbar-brand" href="../">ChannelChat</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <ul class="nav navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/chat">Chat</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
            </ul>
        </nav>

        <div class='container-fluid p-3 d-flex flex-column justify-content-center' id='content'>
            <div class='row'><h1 class='text-center'>ChannelChat</h1></div>

            <div class='row d-flex justify-content-center p-3'>
                <div class='col-3'>
                    <form id='enter-room-form' class='p-3 d-flex flex-column justify-content-center'>
                        <div class="form-group">
                            <label for="room-name">Room Name</label>
                            <input id="room-name" class="form-control" type="text" placeholder="My Room"></input>
                        </div>
                        
                        <input id="enter-room" type="button" class="btn btn-primary" value="Enter room"></input>
                    </form>
                </div>
            </div>
        </div>

        <script type='text/javascript' src='{% static 'core/index.js' %}'></script>
    </body>

    <style>
        form .form-group {
            margin-bottom: 10px;
        }
    </style>
</html>